<%= render partial: "share/head" %>
<div class="container-fluid">
  <%= image_tag "dtce-top.jpg", width: "100%" %>
</div>
<div class="container">
	<div class="row">
    <div class="col-md-2 col-md-offset-5 p-title">
      <span class="clearfix">ABOUT DTCE</span>
      <span class="title">关于DTCE</span>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-7 dtce-about">
  		<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DTCE（Datang Technology Certified Engineer）是大唐邦彦与大唐大学联合组织的职业资格认证体系，针对ICT行业急需的专业人才方向，订制了移动通信技术、移动互联网应用技术以及物联网应用技术3大类12个专业的认证。<br/>
				大唐邦彦与高校的友好合作，将以联合人才培养和基地建设为起点，首先以专业共建的模式，共同开拓和建设移动通信和物联网络相关专业学科，并共同建设配套的专业实训基地，共同培养3G\4G移动通信网络优化人才和物联网应用开发人才；其次企业将帮助高校进行“双师型”骨干教师的培养，并在此基础上利用企业和高校的优势资源，开展行业内前沿科研创新课题的共同研究，将校企合作实训基地打造成为区域移动通信和物联网络人才培养基地，对外输出科研成果和人才培养服务，实现自我造血功能，逐步提升彼此在区域内的影响力。
  		</p>
  	</div>
  	<div class="col-md-5 text-center">
  		<%= image_tag "dtce-1.jpg" %>
			<small class="clearfix">校企合作服务</small>
  	</div>
  </div>
</div>
<div class="container-fluid gray-panel">
	<div class="container">
		<div class="row">
	    <div class="col-md-2 col-md-offset-5 p-title">
	      <span class="clearfix">CERTIFICATE SAMPLE</span>
	      <span class="title">证书样本</span>
	    </div>
	  </div>
	  <div class="row mt text-center">
	  	<%= image_tag "certificate_sample.jpg" %>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 p-title">
      <span class="clearfix">VOCATIONAL QUALIFICATION</span>
      <span class="title">职业资格认证体系</span>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>认证方向</th>
        <th>专业方向</th>
        <th>配套教学设备</th>
        <th>高级</th>
        <th>中级</th>
        <th>初级</th>
      </tr>
      <tr>
        <td rowspan="6" class="bg_color">移动通信技术</td>
        <td>3G/4G网络规划优化</td>
        <td>规划软件、路测设备、测试手机、34G主设备</td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>3G/4G设备维护</td>
        <td>34G主设备、操作维护软件</td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>室内分布集成</td>
        <td>室分设备</td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>综合布线</td>
        <td>综合布线实验室</td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>智能终端检测维修</td>
        <td>手机维修测试工具</td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td></td>
      </tr> 
      <tr>
        <td>APP认证</td>
        <td></td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="4" class="bg_color">移动互联网技术</td>
        <td>Web应用(后端)</td>
        <td>开发平台</td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>APP应用开发(Android方向)</td>
        <td>开发平台</td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>APP应用开发(IOS方向)</td>
        <td>开发平台</td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td>Web应用(前端)</td>
        <td>开发平台</td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td><%= image_tag "icon_ok.png" %></td>
      </tr>
      <tr>
        <td class="bg_color">物联网应用技术</td>
        <td>嵌入式开发</td>
        <td>开发板</td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td></td>
      </tr>
      <tr>
        <td class="bg_color">智能终端开发设计</td>
        <td>开发板</td>
        <td></td>
        <td></td>
        <td><%= image_tag "icon_ok.png" %></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div id="footer">
  <%= render partial: "share/footer" %>  
</div>