<div class="footer bgc-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<ul class="nav nav-justified">
					<li>
						关于我们<br>
						<small><%= link_to "公司架构", "#"%></small><br>
						<small><%= link_to "领导介绍", "#"%></small><br>
						<small><%= link_to "荣誉奖励", "#"%></small><br>
						<small><%= link_to "大事记", "#"%></small>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-2">
				<ul class="nav nav-justified">
					<li>
						新闻中心<br>
						<small><%= link_to "新闻资讯", reports_path%></small><br>
						<small><%= link_to "行业动态", reports_path(category: "industry")%></small><br>
						<small><%= link_to "合作支持", enterprise_path %></small><br>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-2">
				<ul class="nav nav-justified">
					<li>
						联系我们<br>
						<small><%= link_to "地图", "#"%></small><br>
						<small><%= link_to "招聘", job_abouts_path %></small><br>
						<small><%= link_to "意见反馈", "#"%></small><br>
						<small><%= link_to "联系电话", "#"%></small>				
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-2">
				<ul class="nav nav-justified">
					<li>
						友情链接<br>
						<small><%= link_to "大唐电信", "http://www.datanggroup.cn/",target:"_blank"%></small><br>
						<small><%= link_to "高鸿股份", "http://www.gohigh.com.cn/",target:"_blank"%></small><br>
						<small><%= link_to "上海电子信息职教集团", "http://www.sveg.org.cn/",target:"_blank"%></small><br>
						<small><%= link_to "上海市经信委", "http://www.sheitc.gov.cn/",target:"_blank"%></small><br>
						<small><%= link_to "上海市教委", "http://www.shmec.gov.cn/",target:"_blank"%></small>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-2 text-center">
				<%= image_tag("wechat.png")%>
			</div>
			<div class="col-xs-6 col-sm-2 text-center">
				<%= image_tag("micropost.png")%>
			</div>
		</div>
	</div>
</div>

<div class="text-center bgc-gray-dark">
	<small>© Copyright 2015 buoyantec.com 邦彦网</small>
</div>
