<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<%= image_tag "logo.png" %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=<%= "active" if params[:controller] == "home" && params[:action] == "index" %>><%= link_to("首页", root_path) %></li>
        <li class=<%= "active" if params[:controller] == "trains" %>><%= link_to("新闻中心", trains_path) %></li>
        <li class=<%= "active" if params[:controller] == "education" %>><%= link_to("在线教育", education_index_path) %></li>
        <li class=<%= "active" if params[:controller] == "solution" %>><%= link_to("解决方案", solution_ict_path) %></li>
        <li class=<%= "active" if params[:controller] == "dtce" %>><%= link_to("大唐信息学院", dtce_index_path) %></li>
        <li class=<%= "active" if params[:controller] == "enterprise" %>><%= link_to("校企合作", enterprise_index_path) %></li>
        <li class=<%= "active" if params[:controller] == "" %>><%= link_to("成功案例", cases_edu_cases_path) %></li>
        <li class=<%= "active" if params[:controller] == "home" && params[:action] == "about" %>><%= link_to("关于我们", abouts_path) %></li>
      </ul>
      <%= link_to "http://www.datanggroup.cn/" do %>
        <%= image_tag "datanggroup.png", class: "pull-right datanggroup"  %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
