<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuContent">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<%= image_tag "logo.png" %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menuContent">
      <ul class="nav navbar-nav">
        <li class=<%= "active" if params[:controller] == "home" %>>
          <%= link_to("首页", root_path) %>
        </li>
        <li class=<%= "active" if params[:controller] == "reports" %>>
          <%= link_to("新闻中心", reports_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("公司新闻", "#{reports_path(category: "company")}#news") %></li>
            <li><%= link_to("行业动态", "#{reports_path(category: "industry")}#news") %></li>
            <li><%= link_to("最新活动", "#{reports_path(category: "activity")}#news") %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "education" %>><%= link_to("在线教育", educations_path) %></li>
        <li class=<%= "active" if params[:controller] == "solution" %>>
          <%= link_to("产品与解决方案", solution_ict_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("ICT综合智慧展厅", "#{solution_ict_path}#solutionContent") %></li>
            <li><%= link_to("移动通信实训中心", "#{solution_mcc_path}#solutionContent") %></li>
            <li><%= link_to("移动互联网实训中心", "#{solution_internet_path}#solutionContent") %></li>
            <li><%= link_to("物联网实训中心", "#{solution_webthing_path}#solutionContent") %></li>
            <li><%= link_to("未来教室融合", "#{solution_futclass_path}#solutionContent") %></li>
            <li><%= link_to("DTCE资格认证", "#{solution_dtce_path}#solutionContent") %></li>
            <li><%= link_to("钥匙管理系统", solution_key_manager_path) %></li>
            <li><%= link_to("物联网产品", solution_things_path) %></li>
            <li><%= link_to("安防仿真平台", solution_ViMediaNet_path) %></li>
            <li><%= link_to("环境感知系统", solution_swsn_path) %></li>
            <li><%= link_to("设备查找系统", solution_find_path) %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "colleges" %>><%= link_to("大唐信息技术学院", colleges_path, data: { no_turbolink: true }) %></li>
        <li class=<%= "active" if params[:controller] == "enterprise" %>><%= link_to("校企合作", enterprise_path) %></li>
        <li class=<%= "active" if params[:controller] == "cases" %>>
          <%= link_to("成功案例", cases_edu_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to  "教育合作案例",  cases_edu_path %></li>
            <li><%= link_to  "培训案例",  cases_train_path %></li>
            <li><%= link_to  "行业信息化案例",  cases_industry_path %></li>
            <li><%= link_to  "物联网案例",  cases_things_path %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "abouts" %>><%= link_to("关于我们", company_abouts_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to  "公司简介",  company_abouts_path %></li>
            <li><%= link_to  "邦彦文化",  dtby_abouts_path %></li>
            <li><%= link_to  "团队介绍",  team_abouts_path %></li>
            <li><%= link_to  "招聘信息",  job_abouts_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
  $(function(){
    $("#menuContent ul li").mouseenter(function(){
      $(this).addClass("open");
      $(this).find("a").attr("aria-expanded",true)
    });
    $("#menuContent ul li").mouseleave(function(){
      $(this).removeClass("open");
      $(this).find("a").attr("aria-expanded",false)
    });
  });
</script>
