<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<%= image_tag "logo.png" %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menuContent">
      <ul class="nav navbar-nav">
        <li class=<%= "active" if params[:controller] == "home" && params[:action] == "index" %>>
          <%= link_to("首页", root_path) %>
        </li>
        <li class=<%= "active" if params[:controller] == "trains" %>>
          <%= link_to("新闻中心", reports_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("公司新闻", reports_path(category: "company")) %></li>
            <li><%= link_to("行业动态", reports_path(category: "industry")) %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "education" %>><%= link_to("在线教育", educations_path) %></li>
        <li class=<%= "active" if params[:controller] == "solution" %>>
          <%= link_to("解决方案", solution_ict_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("ICT综合智慧展厅", solution_ict_path) %></li>
            <li><%= link_to("移动通信实训中心", solution_mcc_path) %></li>
            <li><%= link_to("移动互联网实训中心", solution_internet_path) %></li>
            <li><%= link_to("物联网实训中心", solution_webthing_path) %></li>
            <li><%= link_to("未来教室融合", solution_futclass_path) %></li>
            <li><%= link_to("dtce资格认证", solution_dtce_path) %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "colleges" %>><%= link_to("大唐信息技术学院", colleges_path) %></li>
        <li class=<%= "active" if params[:controller] == "enterprise" %>><%= link_to("校企合作", enterprise_path) %></li>
        <li class=<%= "active" if params[:controller] == "" %>>
          <%= link_to("成功案例", cases_edu_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("教育合作案例", "#") %></li>
            <li><%= link_to("培训案例", "#") %></li>
            <li><%= link_to("行业信息化案例", "#") %></li>
          </ul>
        </li>
        <li class=<%= "active" if params[:controller] == "abouts" %>><%= link_to("关于我们", company_abouts_path) %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to("公司简介", "#") %></li>
            <li><%= link_to("企业文化", "#") %></li>
            <li><%= link_to("团队介绍", "#") %></li>
            <li><%= link_to("招聘信息", "#") %></li>
          </ul>
        </li>
      </ul>
      <%= link_to "http://www.datanggroup.cn/" do %>
        <%= image_tag "datanggroup.png", class: "pull-right datanggroup"  %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
  $(function(){
    $("#menuContent ul li").mouseenter(function(){
      $(this).addClass("open");
      $(this).find("a").attr("aria-expanded",true)
    });
    $("#menuContent ul li").mouseleave(function(){
      $(this).removeClass("open");
      $(this).find("a").attr("aria-expanded",false)
    });
  });
</script>
