<div class="bgc-gray footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-7">
				<ul class="nav nav-justified">
					<li>
						关于我们<br>
						<small><%= link_to "公司架构", "#"%></small><br>
						<small><%= link_to "领导介绍", "#"%></small><br>
						<small><%= link_to "荣誉奖励", "#"%></small><br>
						<small><%= link_to "大事记", "#"%></small>
					</li>
					<li>
						新闻中心<br>
						<small><%= link_to "新闻资讯", "#"%></small><br>
						<small><%= link_to "行业动态", "#"%></small><br>
						<small><%= link_to "合作支持", "#"%></small><br>
					</li>
					<li>
						联系我们<br>
						<small><%= link_to "地图", "#"%></small><br>
						<small><%= link_to "招聘", "#"%></small><br>
						<small><%= link_to "意见反馈", "#"%></small><br>
						<small><%= link_to "联系电话", "#"%></small>				
					</li>
					<li>
						友情链接<br>
						<small><%= link_to "大唐电信", "#"%></small><br>
						<small><%= link_to "大唐移动", "#"%></small><br>
						<small><%= link_to "慕课网", "#"%></small>
					</li>
				</ul>
			</div>
			<div class="col-xs-5">
				<%= image_tag("wechat.png")%>
				<%= image_tag("micropost.png")%>
			</div>
		</div>
	</div>
</div>

<div class="text-center bgc-gray-dark footer">
	<small>©Copyright 2015 buoyantec.com 邦彦网</small>
</div>
