<%= render partial: "cases_bg" %>
<div class="container cases_content">
  <div class="row">
    <%= render partial: "left_nav" %>
    <div class="col-md-9">
      <div class="content">
        <div class="right-head">
          <ul  class="nav nav-pills">
            <li>
              <%= image_tag "news_nav_icon.png"%>
              <span>当前位置：</span>
            </li>
            <li>
              <ol class="breadcrumb top_h">
                <li><%= link_to("首页", root_path) %></li>
                <li><%= link_to("成功案例", cases_edu_path) %></li>
                <li class="active">教育实训室</li>
              </ol>
            </li>
          </ul>
        </div> 
        <div class="right-body">

          <div class="row">
            <% (1..7) .each do |channel_index| %>
            <div class="col-xs-6">
              <div class="thumbnail cases_show_a">
                <%= image_tag "cases#{channel_index}.png" %>
                <h4><%= link_to(@pic_text["#{channel_index}"], "#" ) %></h4>
              </div>  
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 