<%= render partial: "cases_bg" %>
  <div class="container cases_content">
  <div class="row">
    <%= render partial: "left_nav" %>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title"><%= image_tag "news_nav_icon.png"%><span>当前位置：首页/成功案例/培训案例</span></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <% (8..11) .each do |channel_index| %>
              <div class="col-sm-6 col-md-6">
                <div class="thumbnail cases_show_a">
                  <%= image_tag "case#{channel_index}.png" %>
                  <h4><%= @pic_text["#{channel_index}"] %></h4>
                </div>  
              </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div> 