<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators buoyan-tec-carousel">
    <% banners.each_with_index do |banner, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% banners.each_with_index do |banner, index| %>
      <div class="item <%= "active" if index == 0 %>">
        <a href="<%= banner.link %>">
          <%= image_tag "#{banner.image.photo(:banner)}", style: "width: 100%", class: "banner-margin carousel-image", alt: "大唐邦彦(上海)信息技术有限公司"%>
        </a>
      </div>
    <% end %>
  </div>
</div>

