<div class="container">
	<div class="row intro m-row">
		<div class="col-xs-12 m-col text-center">
			<br>
			<h4>核心业务</h4>
			<hr>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%= link_to "#" do%>
				<%= image_tag "index_info1.png" %>
				<div class="intro-content text-justify">
					<h4 class="text-center">培 训</h4>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦聚焦移动互联网前沿技术的教育和培训业务，将科技创新成果与教育培训产业带相结合，推动“以产业引导教育改革”的长期发展战略。结合双方优势，为国家持续输送高科技人才。...
				</div>
			<% end %>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%= link_to "#" do %>
				<%= image_tag "index_info2.png" %>
				<div class="intro-content text-justify">
					<h4 class="text-center">DTCE认证</h4>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;DTCE（Datang Technology Certifiled Engineer）是大唐邦彦与大唐大学联合组织的职业资格认证体系，针对ICT行业急需的专业人才方向，订制了移动通信技术、移动互联网应用技术以及物联网应用技术3大类12个专业的认证。...
				</div>
			<% end %>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%= link_to "#" do %>
				<%= image_tag "index_info3.png" %>
				<div class="intro-content text-justify">
					<h4 class="text-center">校企合作</h4>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐电信与包括北京大学、清华大学、北京邮电大学、西安电子科技大学、中科院计算所等17所高效进行战略合作，于2008年7月2日在京签署了战略合作协议。经过几年的合作探索，已经与全国数十所高校建立合作关系。...
				</div>
			<% end %>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%= link_to "#" do %>
				<%= image_tag "index_info4.png" %>
				<div class="intro-content text-justify">
					<h4 class="text-center">在线教育</h4>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在线教育平台即在线培训系统是实施在线培训，在线教育的工具软件，一个运用网络技术与软件技术，可以定制和扩展的远程网上教育学院，它通过简单易用的课件、试题导入和制作功能...
				</div>
			<% end %>
		</div>
	</div> 
	<br>
</div>