<div class="container reports">
	<br>
	<h4>新闻资讯</h4>
	<hr>
	<table class="table table-hover">			
		<tbody>
			<% (0..2).each do |row|%>
				<tr>
					<td class="report-time">
						<div class="report-day">26</div>
						<span>2015-05</span>
					</td>
					<td class="report-img text-left">
						<%= image_tag "index-reports1.jpg"%>
					</td>
					<td class="text-left">
						<h4><%= link_to "大唐电信集团荣获“中国企业文化建设典范十强”奖", "#"%></h4>
						<p>“2014中国企业文化管理年会暨全国企业文化合作组织	公益平台启动仪式” 于12月13日在京隆重召开，作为中央企业企业文化的优秀推动者和社会主义核心价值观的优秀践行者，大唐电信集团在此次大会上荣获“中国企业文化建设典范十强奖”……</p>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="bgc-gray text-center">
		<%= link_to "#" do %>
			<h5 class="report-more">查看更多<span>>>></span></h5>
		<% end %>
	</div>
	<div class="home-ad">
		<%= image_tag "home_ad.png", width:"100%"%>
	</div>
</div>


<!-- <div class="container report">
	<div class="row">
		<div class="col-md-2 col-md-offset-5 h-line">
			新闻资讯
			<span class="caret"></span>
		</div>
	</div>
	<div class="row report-row">
		<div class="col-md-6 report-image">
			<%#= image_tag(@active_report.image.photo(:product)) if @active_report.image %>
		</div>
		<div class="col-md-6 report-list">
			<div class="list-group">
				<%#= link_to(raw(active_head_content(@active_report)), "#", class: "list-group-item hover") %>
				<small class="text-muted">
					<%#= truncate_html raw(@active_report.content), length: 150, word_boundary: false %>
				</small>
				<% @reports.each do |report| %>
					<%#= link_to(raw(head_content(report)), "#", class: "list-group-item") %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="rol-md-12 more">
			<%= link_to("更多新闻", reports_path) %>
		</div>
	</div>
</div> -->