<div class="container reports">
	<br>
	<h4>新闻资讯</h4>
	<hr>
	<table class="table table-hover">			
		<tbody>
			<% @reports.each do |report|%>
				<tr>
					<td class="report-time">
						<div class="report-day"><%= report.created_at.strftime "%d"%></div>
						<span><%= report.created_at.strftime "%Y-%m"%></span>
					</td>
					<td class="report-img text-left">
						<%= image_tag( report.image .present? ? report.image.photo(:news) : "index-reports1.jpg")%>
					</td>
					<td class="text-left">
						<h4><%= link_to "#{report.title}", report_path(report) %></h4>
						<div class="report-info"><%= sanitize(report.content, attributes: %w(href)) %></div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="bgc-gray text-center">
		<%= link_to reports_path do %>
			<h5 class="report-more">查看更多<span>>>></span></h5>
		<% end %>
	</div>
	<div class="home-ad">
		<%= image_tag "home_ad.png", width:"100%"%>
	</div>
</div>