<%= render partial: "share/head" %>

<%= render partial: "ad" %>

<%= render partial: "reports" %>

<div class="container-fluid" id="index-intro" >
  <%= render partial: "intro" %>  
</div>

<div id="footer">
  <%= render partial: "share/footer" %>  
</div>


