<div class="col-md-3 nav_list">
  <div id="leftMenu" class="content text-center">
    <div class="left-head"><strong>关于我们</strong></div>
    <div class="left-body">
      <ul class="nav">
        <li role="presentation"class="<%= "active" if params[:controller] == "abouts" && params[:action] == "company" %>"><%= link_to  "公司简介",  company_abouts_path %></li> <hr class="divider">
        <li role="presentation" class="<%= "active" if params[:controller] == "abouts" && params[:action] == "dtby" %>"><%= link_to  "邦彦文化",  dtby_abouts_path %></li> <hr class="divider">
        <li role="presentation" class="<%= "active" if params[:controller] == "abouts" && params[:action] == "team" %>"><%= link_to  "团队介绍",  team_abouts_path %></li> <hr class="divider">
        <li role="presentation" class="<%= "active" if params[:controller] == "abouts" && params[:action] == "job" %>"><%= link_to  "招聘信息",  job_abouts_path %></li> <hr class="divider">
      </ul>
    </div>
  </div>
</div>