<%= render partial: "about_bg" %>
<div class="container cases_content">
	<div class="row">
		<%= render partial: "us_left_nav" %>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<ul  class="nav nav-pills">
						<li>
							<%= image_tag "news_nav_icon.png"%>
							<span>当前位置：</span>
						</li>
						<li>
							<ol class="breadcrumb">
								<li><%= link_to("首页", root_path) %></li>
								<li ><%= link_to("关于我们", company_abouts_path) %></li>
								<li class="active">公司简介</li>
							</ol>
						</li>
					</ul>
				</div> 
				<div class="right-body">
					<dl>
						<dd>
							<div class="col-sm-6">
								<div class="company_logo1">
									<%= image_tag "logo.png", width: "90%" %>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="company_logo">
									<%= image_tag "company-info4.png", width: "90%" %>
								</div>
							</div>
							<div class="company_text">
								<p><strong>大唐邦彦（上海）信息技术有限公司</strong>（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化、校企合作产教融合开发的高科技企业。作为国内第一家将移动通信技术与VR虚拟现实技术深度融合的高科技企业、我们先后开发出设备网络优化、通信工程勘察三大方向的移动通信VR实训平台。</p>
								<p><strong>大唐邦彦（上海）信息技术有限公司</strong>集合大唐电信科技产业集团优势资源,依托集团研发实力和企业大学的教学经验,大唐邦彦与国内外多所知名教育研究机构、高校建立了战略伙伴关系,将校企合作由原来的共建产教融合基地、人才创新基地等扩展到专业领域的人才培养,进行专业学科建设的设计与实施、在线教育平台的综合应用,从专业共建、技能培训、实习实训、就业指导、创业孵化等全流程的培养方案,实现产业需求与高校教育内容、教学过程的深度融结合。大唐邦彦与上海工商职业技术学院联合建立上海移动互联网教研协同基地,并与多家学校成立二级学院,实现全国首家从中、高职、本科层次连贯教学体系的二级学院。</p>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div> 