<%= render partial: "about_bg" %>
  <div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
        <div class="panel panel-default">
        <!-- <div class="right-head">
            <ul class="nav nav-pills">
              <li>
                <span><%= image_tag "news_nav_icon.png"%>&nbsp;&nbsp;当前位置:&nbsp;&nbsp;</span>
              </li>
              <li>
                <ol class="breadcrumb">
                  <li><a href="#">首页</a></li>
                  <li class="active">关于我们</li>
                  <li class="active">公司简介</li>
                </ol>
              </li>
            </ul>         
          </div> -->
          <div class="panel-heading cases_show_t">
            <h3 class="panel-title">
            <ul  class="nav nav-pills">
            <li>
            <%= image_tag "news_nav_icon.png"%>
            <span>当前位置：</span>
            </li>
            <li>
            <ol class="breadcrumb">
                  <li><a href="#">首页</a></li>
                  <li class="active">关于我们</li>
                  <li class="active">公司简介</li>
                </ol>
                </li>
                </ul>
            </h3>
          </div> 
          <div class="panel-body">
            <div class="company_logo">
              <%= image_tag "logo.png", width: "55%" %>
            </div>
            <div class="company_text">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2014年，大唐电信集团与上海市教委、上海市经信委进行战略合作，成立大唐邦彦（上海）信息技术有限公司专注校企合作与互联网教育，进一步深化校企合作深度产教融合与教育行业信息化工作。<br/>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化、校企合作产教融合开发的高科技企业。集合大唐电信科技产业集团优势资源，依托集团研发实力和企业大学的教学经验，大唐邦彦与国内外多所知名教育研究机构、高校建立了战略伙伴关系，将校企合作由原来的共建产教融合基地、人才创新基地等扩展到专业领域的人才培养，进行专业学科建设的设计与实施、在线教育平台的综合应用，并自主开发集成了FIT系列实训室整体解决方案，实现产业需求与高校教育内容、教育过程的深度融合。
            </div>
          </div>
      </div>
    </div>
  </div>
</div> 