<%= render partial: "about_bg" %>
<div class="container cases_content">
	<div class="row">
		<%= render partial: "us_left_nav" %>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<ul  class="nav nav-pills">
						<li>
							<%= image_tag "news_nav_icon.png"%>
							<span>当前位置：</span>
						</li>
						<li>
							<ol class="breadcrumb">
								<li><%= link_to("首页", root_path) %></li>
								<li ><%= link_to("关于我们", company_abouts_path) %></li>
								<li class="active">公司简介</li>
							</ol>
						</li>
					</ul>
				</div> 
				<div class="right-body">
					<div class="text-center"><h3>大唐邦彦企业介绍</h3></div>
            <dl>
              <dt>（一）大唐电信集团</dt><br>
              <dd>
                <div class="row">
                  <div class="col-sm-5 text-center"><%= image_tag "company-info1.png",style: "max-width: 300px;" %></div>
                  <div class="col-sm-7 company_text">
                    <p>大唐电信科技产业集团（简称大唐电信集团），是国务院国有资产监督管理委员会管理的一家专门从事电子信息系统装备开发、生产和销售的大型高科技中央企业，总资产规模近500亿元人民币，总部位于北京，研发与生产基地遍布全国。作为中国ICT行业的领军企业，历经十余年持续自主创新的技术积累和深入研究，大唐已经拥有第三代国际移动通信标准TD-SCDMA及其后续演进的TD—LTE的关键技术核心知识产权，始终引领和主导TD-SCDMA和TD-LTE技术和标准的发展。2008年7月2日，大唐电信与包括北京大学、清华大学、北京邮电大学、西安电子科技大学、中科院计算所等17所高校签署了战略合作协议。后续在全国范围内又发展了数十所合作高校。随着移动互联网的飞速发展，大唐电信集团与上海市教委、上海市经信委进行战略合作，成立大唐邦彦（上海）信息技术有限公司专注校企合作与ICT行业应用，进一步深化校企合作深度产教融合与行业信息化工作。<p>
                  </div>
                </div>
              </dd>
            </dl>
            <dl>
              <dt>（二）大唐邦彦（上海）信息技术有限公司</dt>
              <dd>
              <div class="col-sm-6">
                  <div class="company_logo">
                    <%= image_tag "logo.png", width: "90%" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="company_logo">
                    <%= image_tag "company-info4.png", width: "90%" %>
                  </div>
                </div>
                <div class="company_text">
                  <p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化、校企合作产教融合开发的高科技企业。集合大唐电信科技产业集团优势资源，依托集团研发实力和企业大学的教学经验，大唐邦彦与国内外多所知名教育研究机构、高校建立了战略伙伴关系，将校企合作由原来的共建产教融合基地、人才创新基地等扩展到专业领域的人才培养，进行专业学科建设的设计与实施、在线教育平台的综合应用，并自主开发集成了FITWARE系列实训室整体解决方案，从专业共建、技能培训、实习实训、就业指导、创业孵化等全流程的培养方案，实现产业需求与高校教育内容、教学过程的深度融结合。</p>
                </div>
                
              </dd>
            </dl>
				</div>
			</div>
		</div>
	</div>
</div> 