<%= render partial: "about_bg" %>
<div class="container cases_content">
	<div class="row">
		<%= render partial: "us_left_nav" %>
		<div class="col-md-9 content">
			<div class="right-head">
				<ul  class="nav nav-pills">
					<li>
						<%= image_tag "news_nav_icon.png"%>
						<span>当前位置：</span>
					</li>
					<li>
						<ol class="breadcrumb">
							<li><%= link_to("首页", root_path) %></li>
							<li><%= link_to("关于我们", company_abouts_path) %></li>
							<li class="active">招聘信息</li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="right-body job_content">
				<div class="job_text">
					<p></p>
					<strong>招聘职位：</strong><%= @recruit.position%><br>
					<strong>发布时间：</strong> <%= Time.now.strftime "%F"%><br/>
					<strong>招聘要求：</strong> 工作地点：<%= @recruit.address %><br/>
					<strong class="num" >招聘人数：<%= @recruit.quantity %>人</strong><br/><br/>
					<div class="job_content"><%= raw  @recruit.content %></div>
				</div>
			</div>
		</div>
	</div>
</div> 