<div class=" row">
	<div class="right-body"> 
		<div class="search_tab">
			<div class="search_content">
				<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
				<span><%= @credential.name %></span><br>
			</div>
		    <div class="search_content">
		    	<span>考证日期:</span>
				<span><%= @credential.start_date %></span><br>
		    </div>
		    <div class="search_content">
		    	<span>成&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;绩:</span>
				<span><%= @credential.score %></span><br>
		    </div>
		    <div class="search_content">
		    	<span>证书类型:</span>
				<span><%= @credential.cer_type %></span><br>
		    </div>
		    <div class="search_content">
		    	<span>有效日期:</span>
				<span><%= @credential.end_date %></span>
		    </div>
		</div>
	</div>
</div>
   
