<div class="col-md-3 nav_list">
  <div id="leftMenu" class="content text-center">
    <div class="left-head"><strong>资格证书</strong></div>
    <div class="left-body">
      <ul class="nav">
        <li role="presentation"class="<%= "active" if params[:controller] == "credentials" && params[:action] == "cer_intro" %>"><%= link_to  "证书简介",  cer_intro_credentials_path %></li> <hr class="divider">
        <li role="presentation" class="<%= "active" if params[:controller] == "credentials" && params[:action] == "cet_style" %>"><%= link_to  "证书样本",  cet_style_credentials_path %></li> <hr class="divider">
        <li role="presentation" class="<%= "active" if params[:controller] == "credentials" && params[:action] == "search" %>"><%= link_to  "证书查询",  search_credentials_path %></li> 
      </ul>
    </div>
  </div>
</div>