<%= render partial: "credential_bg" %>
<div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="content row">
        <div class="right-head">
          <ul  class="nav nav-pills">
            <li>
              <%= image_tag "news_nav_icon.png"%>
              <span>当前位置：</span>
            </li>
            <li>
              <ol class="breadcrumb top_h">
                <li><%= link_to("首页", root_path) %></li>
                <li><%= link_to("资格证书", company_abouts_path) %></li>
                <li class="active">证书简介</li>
              </ol>
            </li>
          </ul>
        </div> 
        <div class="right-body">
          <div class="row">
          	<div class="intro_text col-md-12" >
	            <p>
	            DTCE(Datang Technology Certifiled Engineer)是大唐电信科技产业集团大唐大学针对ICT从业者 , 基于IP、IT、CI以及ICT融合技术 , 定制了移动通信技术、移动互联网应用技术、物联网应用技术、虚拟现实技术以及软件测试
	            技术五大类认证 , 提供了初级工程师（A系列）、中级工程师（C系列）、高级工程师
	            （E系列）三类技术认证等级 , 为ICT从业人员提供层次化的培训认证。
	            </p>
		        </div>
	          <div class="col-md-12">
	            <div class="intro_list">
	              <%= image_tag "cer_pic.png", width: "100%" %>
	            </div>
	          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>