<p id="notice"><%= notice %></p>

<h1>Credentials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cer number</th>
      <th>Score</th>
      <th>Cer type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Identity number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.name %></td>
        <td><%= credential.cer_number %></td>
        <td><%= credential.score %></td>
        <td><%= credential.cer_type %></td>
        <td><%= credential.start_date %></td>
        <td><%= credential.end_date %></td>
        <td><%= credential.identity_number %></td>
        <td><%= link_to 'Show', credential %></td>%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


