<%= render partial: "credential_bg" %>
<div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="content row">
        <div class="right-head">
          <ul  class="nav nav-pills">
            <li>
              <%= image_tag "news_nav_icon.png"%>
              <span>当前位置：</span>
            </li>
            <li>
              <ol class="breadcrumb top_h">
                <li><%= link_to("首页", root_path) %></li>
                <li><%= link_to("资格证书", company_abouts_path) %></li>
                <li class="active">证书查询</li>
              </ol>
            </li>
          </ul>
        </div> 
        <div class="right-body">
			<div class="input-group">
				<%= form_tag(search_credentials_path, method: "get") do %> 
					<span>证书编号</span>
					<%= search_field_tag(:cer_number) %>
					<br>
					<span>身份证号</span>
				  <%= search_field_tag(:identity_number) %>
					<span><%= submit_tag("查询") %></span>
				<% end %>
				<p>*填写任意一个即可查询</p>
			</div>
			<hr class="divider_line">
            <div>
              <% if  @credential.blank? %>
                <span class="hint">查询结果</span>
                <br>
                <strong class="inde_content">请输入正确的查询内容 ......</strong>
              <% elsif params[:cer_number].blank? && params[:identity_number].blank? %>
                <strong class="inde_content">请输入需要查询证书的 编号 或者 身份证号 ......</strong>
              <% else %>
                <span class="hint">查询结果</span>
                <%= render partial: "search_result" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>