<%= render partial: "credential_bg" %>
<div class="container cases_content">
  <div class="row">
    <%= render partial: "us_left_nav" %>
    <div class="col-md-9">
      <div class="content row">
        <div class="right-head">
          <ul  class="nav nav-pills">
            <li>
              <%= image_tag "news_nav_icon.png"%>
              <span>当前位置：</span>
            </li>
            <li>
              <ol class="breadcrumb top_h">
                <li><%= link_to("首页", root_path) %></li>
                <li><%= link_to("资格证书", company_abouts_path) %></li>
                <li class="active">证书查询</li>
              </ol>
            </li>
          </ul>
        </div> 
        <div class="right-body">
			<div class="input-group">
				<span>证书编号</span>
				<input type="text" name="" value="">
				<button type="button">查询</button><br>
				<span>身份证号</span>
				<input type="text" name="" value="">
				<button>查询</button>
				<p>*填写任意一个即可查询</p>
			</div>
			<hr class="divider_line">
            <div>
            	<span class="hint">查询结果</span>
            	<div class="search_tab">
	    			<div class="search_content">
	    				<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
	    				<span>某某某</span><br>
	    			</div>
	    		    <div class="search_content">
	    		    	<span>考证日期:</span>
	    				<span>2016/11/12</span><br>
	    		    </div>
	    		    <div class="search_content">
	    		    	<span>成&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;绩:</span>
	    				<span>98</span><br>
	    		    </div>
	    		    <div class="search_content">
	    		    	<span>证书类型:</span>
	    				<span>高级工程师</span><br>
	    		    </div>
	    		    <div class="search_content">
	    		    	<span>有效日期:</span>
	    				<span>2019/11/12</span>
	    		    </div>
            	</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>