<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>Cer number:</strong>
  <%= @credential.cer_number %>
</p>

<p>
  <strong>Score:</strong>
  <%= @credential.score %>
</p>

<p>
  <strong>Cer type:</strong>
  <%= @credential.cer_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @credential.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @credential.end_date %>
</p>

<p>
  <strong>Identity number:</strong>
  <%= @credential.identity_number %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
