<div class="container-fluid">
  <%= image_tag "college_bg.png", width: "100%" %>
</div>
<div class="container-fluid gray-panel">
  <div class="container">
    <div class="row">
    <div class="col-md-12 college_content">
      <div class="col-md-4 college_b">
        <%= image_tag "dtby-2.png", width: "100%"%>
        <%= image_tag "dtby-3.png", width: "100%"%>
      </div>
      <div class="col-md-8 college_text">
      <h4 class="college-tt"><strong>大唐邦彦信息技术有限公司</strong></h4>
        大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司<br/>大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司<br/>大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司大唐邦彦（上海）信息技术有限公司
      </div>
      </div>
      <div class="col-md-12 show_pc">
      <div class="col-md-4"><%= image_tag "dtby-4.png", width: "100%",class:"showpc1"%></div>
      <div class="col-md-4"><%= image_tag "dtby-5.png", width: "100%"%></div>
      <div class="col-md-4"><%= image_tag "dtby-6.png", width: "100%"%></div>
      </div>
    </div>
  </div>
</div>