<div class="darkgray-bg solution_title">
	<div class="container">
		<div class="row  solution_line">
			<div class="col-xs-5 solution_bline"><%=image_tag "solution_title_bg_left.png"%></div>
			<div class="col-xs-2 text-center solution_case"><div class="row">方案优势</div></div>
			<div class="col-xs-5 solution_bline text-right"><%=image_tag "solution_title_bg_right.png"%></div>
		</div>
		<div class="row solution_engineer">
			<div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">环境真实</h5>
						<p class="advan_case">本实训平台配套的设备均为最新商用移动通信设备，保证学员学习和练习使用的设备均为与将来工作所使用的设备保持一致。
						</p>
					</div>
				</div>
			 </div>
			 <div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">功能多样</h5>
						<p class="advan_case">该方案包括对外展示，学生实验，实训实习，科研教研等功能，且各个功能都有实用案例</p>
					</div>
				</div>
			 </div>
			 <div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">体系完备</h5>
						<p class="advan_case">该方案不仅配套大型商业网络实训平台，而且包含详细实用的课程方案，除技术培训之外，还配有移动通信职业素养相关课程，帮助学员不仅从技术上而且从思想上快速进入岗位角色。</p>
					</div>
				</div>
			 </div>
			 <div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">服务完善</h5>
						<p class="advan_case">针对该方案，邦彦提供全面售后支持，包括工程建设，设备调试，技术培训，课程开发，设备维护等</p>
					</div>
				</div>
			 </div>
			 <div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">大唐资源</h5>
						<p class="advan_case">大唐电信是国内知名的通信协议研发，设备生产及工程建设企业，掌握TD-SCDMA.TD-LTE两大标准的核心专利，在中国的移动通信领域占有一席之地，并在业内形成了庞大的大唐体系。</p>
					</div>
				</div>
			 </div>
			 <div class="col-xs-2">
				 <div class="thumbnail">
					<%=image_tag "solution_commu_scheme_round.png"%>
					<div class="caption">
						<h5 class="advanges system_course">技术全面</h5>
						<p class="advan_case">本方案包括了当前移动通信领域最前沿的3G，4G无线网络通信技术中工程建设，设备调试和网络优化等技术，全面涵盖移动通信各个岗位所需技能的培训。</p>
					</div>
				</div>
			 </div>
		</div>
	</div>
</div>
