<div class="container-fluid  top-bg">
	<%=image_tag "solution_banner.png"%>
</div>
<div class="gray-bg">
	<div class="container">
		<ul class="nav nav-justified text-center ">
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_ict.png"%><br/>
					<p class="solution_pj">ICT综合智慧展厅</p>	
					<span class="scheme">建设方案</span>
				</a>
			</li>
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_mobile.png"%><br/>
					<p class="solution_pj">移动通信实训中心</p>
					<span class="scheme">建设方案</span>
				</a>
			</li>
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_net.png"%><br/>
					<p class="solution_pj">移动互联网实训中心</p>
					<span class="scheme">建设方案</span>
				</a>
			</li>
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_webthings.png"%><br/>
					<p  class="solution_pj">物联网实训中心</p >
					<span class="scheme">建设方案</span>
				</a>
			</li>
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_classroom.png"%><br/>
					<p class="solution_pj">未来教师融合</p>
					<span class="scheme">建设方案</span>
				</a>
			</li>
			<li class="icon">
				<a href="#">
					<%=image_tag "solution_dtce.png"%><br/>
					<p class="solution_pj">DTCE资格认证</p>
					<span class="scheme">建设方案</span>
				</a>
			</li>
		</ul>
	</div>
</div>