<%=render partial:"subhead"%>
<!-- plan of engineer train -->
<div class="container">
	<div class="row">
		<div class="col-md-5"><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-md-2 text-center">卓越工程师<br/>培训计划</div>
		<div class="col-md-5"><%=image_tag "solution_title_bg_right.png"%></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立
			</p>
		</div>
		<div class="col-md-6"><%=image_tag "solution_commu_engineer.png"%></div>
	</div>
</div>
<!-- course system -->
<div class="container">
	<div class="row">
		<div class="col-md-5"><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-md-2 text-center">技能应用型<br/>课程体系</div>
		<div class="col-md-5"><%=image_tag "solution_title_bg_right.png"%></div>
	</div>
	<div class="row system_bg">
		<div class="col-md-3">
			<p>移动通信网络设备</p>	
			<span class="scheme">包括3G、4G移动通信设备的软硬件组成和运行机制讲解</span>
		</div>
		<div class="col-md-3">
			<p>移动通信技术</p>	
			<span class="scheme">包括3G、4G基本原理和实际工程中常用概念及参数</span>
		</div>
		<div class="col-md-3">
			<p>路测技能</p>	
			<span class="scheme">包括移动通信路测工程师的所有必备技能</span>
		</div>
		<div class="col-md-3">
			<p>网络优化</p>	
			<span class="scheme">包括高级移动通信优化工程师所有必备技能</span>
		</div>
	</div>
</div>
<!-- base of teaching -->
<div class="container">
	<div class="row">
		<div class="col-md-5"><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-md-2 text-center">教学实验室寻<br/>基地建设</div>
		<div class="col-md-5"><%=image_tag "solution_title_bg_right.png"%></div>
	</div>
	<p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立
	</p>
	<div class="row">
		<div class="col-md-3"><%=image_tag "solution_commu_base.png"%></div>
		<div class="col-md-3"><%=image_tag "solution_commu_base1.png"%></div>
		<div class="col-md-3"><%=image_tag "solution_commu_base.png"%></div>
		<div class="col-md-3"><%=image_tag "solution_commu_base1.png"%></div>
	</div>
</div>
<!-- advange of case -->
<div class="container">
	<div class="row">
		<div class="col-md-5"><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-md-2 text-center">方案优势</div>
		<div class="col-md-5"><%=image_tag "solution_title_bg_right.png"%></div>
	</div>
	<div class="row">
		<div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">环境真实</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
		 <div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">功能多样</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
		 <div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">体系完备</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
		 <div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">服务完善</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
		 <div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">大唐资源</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
		 <div class="col-md-2">
			 <div class="thumbnail">
				<%=image_tag "solution_commu_scheme_round.png"%>
				<div class="caption">
					<p class="advanges">技术全面</p>
					<p>大唐邦彦（上海）信息技术有限公司（简称大唐邦彦）是一家专注于移动互联网信息技术、大数据云平台、教育行业信息化和校企合作产教融合开发的高科技企业，公司成立于2014年，由大唐电信科技产业集团（电信科学技术研究院）投资建立。</p>
				</div>
			</div>
		 </div>
	</div>
</div>


