<%=render partial:"subhead"%>
<!-- certificate sample -->
<div class="darkgray-bg certifi_sample">
	<div class="text-center solution_title">
		<span><%=image_tag "solution_title_bg2.png"%></span>
	</div>
	<div class="certifi_sample text-center">
		<span><%=image_tag "solution_identify_certificate.png"%></span>
	</div>
</div>
<!-- system of qualification certification -->
<div class="text-center solution_title">
	<span><%=image_tag "solution_title_bg2.png"%></span>
</div>
<div class="container">
	<div class="row certifi_sample">
		<table class="table table-bordered">
			<tr class="bgray-bg">
				<th>认证方向</th>
				<th>专业方向</th>
				<th>配套教学设备</th>
				<th>高级</th>
				<th>中级</th>
				<th>初级</th>
			</tr>
			<tr>
				<td rowspan="6" class="gray-bg">移动通信技术</td>
				<td class="gray-bg">3G/4G网络规划优化</td>
				<td class="gray-bg">规划软件、路测设备、测试手机、34G主设备</td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td>3G/4G设备维护</td>
				<td>34G主设备、操作维护软件</td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td class="gray-bg">室内分布集成</td>
				<td class="gray-bg">室分设备</td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td>综合布线</td>
				<td>综合布线实验室</td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td class="gray-bg">智能终端检测维修</td>
				<td class="gray-bg">手机维修测试工具</td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"></td>
			</tr> 
			<tr>
				<td>APP认证</td>
				<td></td>
				<td></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td></td>
			</tr>
			<tr>
				<td rowspan="4" class="gray-bg">移动互联网技术</td>
				<td class="gray-bg">Web应用(后端)</td>
				<td class="gray-bg">开发平台</td>
				<td class="gray-bg"></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td>APP应用开发(Android方向)</td>
				<td>开发平台</td>
				<td></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td class="gray-bg">APP应用开发(IOS方向)</td>
				<td class="gray-bg">开发平台</td>
				<td class="gray-bg"></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td>Web应用(前端)</td>
				<td>开发平台</td>
				<td></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td><%= image_tag "icon_ok.png" %></td>
			</tr>
			<tr>
				<td class="gray-bg">物联网应用技术</td>
				<td class="gray-bg">嵌入式开发</td>
				<td class="gray-bg">开发板</td>
				<td class="gray-bg"></td>
				<td class="gray-bg"><%= image_tag "icon_ok.png" %></td>
				<td class="gray-bg"></td>
			</tr>
			<tr>
				<td class="gray-bg">智能终端开发设计</td>
				<td>开发板</td>
				<td></td>
				<td></td>
				<td><%= image_tag "icon_ok.png" %></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<!-- double teacher -->
<div class="gray-bg">
	<div class="text-center solution_title">
		<span><%=image_tag "solution_title_bg2.png"%></span>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过“对接用人需求”、“双师研修认证”（即“双师型”教师培养）、“校企实践教学”、“共研精品课程”等逐步深入的系列进阶合作，与高校共同打造专业讲师队伍，通过专业文化素质培养、工程师素质培养、TTT培养三个环节的严格培养和考核，培养出不但熟悉操作过程而且精通原理，并且能够教学生学会的高素质双师型讲师，为高校的可持续发展提供保障。</p>
		</div>
		<div class="col-md-1"></div>	
		</div>
	<div class="text-center certifi_sample">
		<span><%=image_tag "solution_identify_douteacher.png"%></span>
	</div>
</div>