<%=render partial:"solution_bg"%>
<div class="container solution_en_title">
	<div class="row  solution_line">
		<div class="col-xs-4 solution_bline "><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-4 text-center solution_case ">移动通信工程勘察<br/>虚拟现实</div>
		<div class="col-xs-4 solution_bline text-right">
			<%=image_tag "solution_title_bg_right.png"%>
		</div>
	</div>
	<div class="row solution_engineer  solution_line">
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件概述</strong>
			<p class="solution_train text-justify">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;移动通信系统工程勘察虚拟现实平台本软件旨在利用最先进的虚拟现实技术展现通信工程通信管道工程、通信架空光缆工程、通信机房工程、室内覆盖工程四大场景 , 此四大场景在现实场景都是比较难以在课堂上展现 , 通过该平台可以很好让学生身临其境掌握通信工程场景再现 , 使学生更好掌握以后实际工作的通信工程场景的勘察 。该平台该设置一些知识库等环节可以减少教师负担 , 提高上课效率 , 活跃课堂气氛 。本软件使用一系列生动有趣且符合实际的虚拟现实实验 , 锻炼学生的实际操作能力。 区别于传统的实训课 , 本软件只需在电脑前操作即可 , 免除了操作安全风险和高昂的通信工程仪表灯损耗。 使用最新的VR技术 ,可以让学生身临其境 , 体验不同场景的移动通信工程勘察环境 , 在教室内即可亲手完成实践操作。
			</p>
		</div>
		<div class="col-xs-12 en_content">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件架构</strong>
			<div class="en_img">
				<%=image_tag "en_top.png", width: "100%"%>
			</div>
		</div>
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件功能</strong>
			<%=image_tag "en_content.png", width: "100%"%>
		</div>
	</div>
</div>