<%=render partial:"solution_bg"%>
<div class="key-manager">
	<div class="gray-bg solution_title">
		<div class="text-center solution_line">
			<span class="dtce_title_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;钥匙管理系统介绍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><br/>
			<span style="padding-top:5px">INTRODUCTION TO KEY MANAGEMENT SYSTEM</span>
		</div>

		<div class="container">
			<!-- line1 -->
			<div class="row key-line">
				<div class="col-md-6">
					<p class="key-intro"> 智能钥匙管理系统是针对高校实验实训教室大门钥匙进行集中管理，使用时可以凭校园一卡通刷卡后选择使用实验实训室的钥匙。使用结束后可以刷钥匙上的标识卡并归还在钥匙管理系统弹出的盒子内。在不改变高校现有门锁结构的前提下，将原有的机械锁钥匙、电子锁钥匙集中放在智能钥匙管理系统内进行集中管理，实现无人值守、降低管理难度、降低管理成本、提高管理效率、提高管理水平。</p>
					<br>
		      <p class="key-intro">实验室责任人能够对实验室使用情况进行实时监控，能够做到及时跟实训时的维护，实训后的维护、卫生、安全检查等工作；智能钥匙管理系统可以随时随地统计实验实训室的开出率，为管理层提供统计及决策数据的支持。</p>
				</div>
				<div class="col-md-6">
					<%= image_tag "key_1.png" %>
				</div>
			</div>	
			<!-- line2 -->
			<div class="row key-line">
				<div class="col-md-6">
					<%= image_tag "key_2.png" %>
				</div>
				<div class="col-md-6">
					<%= image_tag "key_3.png" %>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row key-line">
			<div class="col-md-6">
				<%= image_tag "key_4.png" %>
				<p class="img-tips">校区、系部、部门管理</p>			
			</div>
			<div class="col-md-6">
				<%= image_tag "key_5.png" %>
				<p class="img-tips">一卡通管理</p>			
			</div>
		</div>

		<div class="row key-line">
			<div class="col-md-6">
				<%= image_tag "key_6.png" %>
				<p class="img-tips">教室管理</p>			
			</div>
			<div class="col-md-6">
				<%= image_tag "key_7.png" %>
				<p class="img-tips">教室管理员管理</p>			
			</div>
		</div>

		<div class="row key-line">
			<div class="col-md-6">
				<%= image_tag "key_8.png" %>
				<p class="img-tips">教室与钥匙标识卡管理</p>			
			</div>
			<div class="col-md-6">
				<%= image_tag "key_9.png" %>
				<p class="img-tips">教室使用信息查询</p>			
			</div>
		</div>

		<div class="row key-line">
			<div class="col-md-6">
				<%= image_tag "key_10.png" %>
				<p class="img-tips">信息查询·借出记录·今日借出·未还钥匙·按条件查询</p>			
			</div>
			<div class="col-md-6">
				<%= image_tag "key_11.png" %>
				<p class="img-tips">教室预约</p>			
			</div>
		</div>
		<br>
	</div>
</div>