<%=render partial:"solution_bg"%>
<!-- plan of engineer train -->
<div class="container solution_title">
	<div class="row  solution_line">
		<div class="col-xs-5 solution_bline "><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-2 text-center solution_case ">卓越工程师<br/>培训计划</div>
		<div class="col-xs-5 solution_bline text-right">
			<%=image_tag "solution_title_bg_right.png"%>
		</div>
	</div>
	<div class="row solution_engineer  solution_line">
		<div class="col-xs-5 col-xs-offset-1">
			<p class="solution_train text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《大唐邦彦卓越工程师培养方案》采用深度校企联合培养模式，把学生校内学习和企业学习两种培养模式进行融合统一，派遣经验丰富的企业工程师担当讲师，并且定期（每年寒暑假）或不定期（根据学校时间情况安排）灵活安排老师和学生到企业参加工程实践和学习；在企业实践阶段，安排合适的企业工程师担任兼职教师，为学生授课，保证教学环境和教学内容与行业实际岗位要求一致。
			</p>
		</div>
		<div class="col-xs-6 text-center"><%=image_tag "solution_commu_engineer.png"%></div>
	</div>
</div>
<!-- course system -->
<div class="darkgray-bg solution_title">
	<div class="container">
		<div class="row solution_line">
			<div class="col-xs-5 solution_bline"><%=image_tag "solution_title_bg_left.png"%></div>
			<div class="col-xs-2 text-center solution_case">技能应用型<br/>课程体系</div>
			<div class="col-xs-5 solution_bline text-right"><%=image_tag "solution_title_bg_right.png"%></div>
		</div>
		<div class=" system_bg solution_engineer">
			<div class="col-xs-3 text-center ">
				<p class="system_course"><br/>移动通信网络设备<hr style="margin:0"></p>	
				<span class="scheme">包括3G、4G移动通信设备的软硬件组成和运行机制讲解</span>
			</div>
			<div class="col-xs-3 text-center ">
				<p class="system_course"><br/><br/>移动通信技术<hr style="margin:0"></p>	
				<span class="scheme">包括3G、4G基本原理和<br/>实际工程中常用概念及参数</span>
			</div>
			<div class="col-xs-3 text-center ">
				<p class="system_course"><br/>路测技能<hr style="margin:0"></p>	
				<span class="scheme">包括移动通信路测工程师的<br/>所有必备技能</span>
			</div>
			<div class="col-xs-3 text-center ">
				<p class="system_course"><br/><br/>网络优化<hr style="margin:0"></p>	
				<span class="scheme">包括高级移动通信优化工程师<br/>所有必备技能</span>
			</div>
		</div>
	</div>
</div>
<!-- base of teaching -->
<div class="container solution_title">
	<div class="row  solution_line">
		<div class="col-xs-5 solution_bline"><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-2 text-center solution_case"><div class="row">教学实验实训<br/>基地建设</div></div>
		<div class="col-xs-5 solution_bline text-right"><%=image_tag "solution_title_bg_right.png"%></div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<p  class="solution_train text-justify" style="font-size:16px">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实验实训基地按照运营商现网真实机房场景打造，真实模拟相关岗位，有针对性的培训特定技能。该方案包括四套实训环境：移动通信设备维护实训室，移动通信网络优化实训室，移动通信工程技术实验室和移动通信项目管理实训室。
			</p>
		</div>
	</div>
	<div class="row intro m-row">
		<div class="col-md-3 col-xs-6 m-col">
			<%=image_tag "solution_base1.png"%>
			<div class="intro-content text-justify train-base">
				<h4 class="text-center">移动通信设备维护实训室</h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%=image_tag "solution_base2.png"%>
			<div class="intro-content text-justify train-base ">
				<h4 class="text-center">移动通信网络优化实训室</h4>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%=image_tag "solution_base1.png"%>
			<div class="intro-content text-justify train-base">
				<h4 class="text-center">移动通信工程技术实验室</h4>
				<br>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 m-col">
			<%=image_tag "solution_base2.png"%>
			<div class="intro-content text-justify train-base">
				<h4 class="text-center">移动通信项目管理实训室</h4>
			</div>
		</div>
	</div> 
	<br>
</div>
<!-- advange of case -->
<%= render partial:"solution_advantage"%>