<%=render partial:"solution_bg"%>
<div class="container solution_en_title">
	<div class="row  solution_line">
		<div class="col-xs-4 solution_bline "><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-4 text-center solution_case ">移动通信网络优化<br/>虚拟现实</div>
		<div class="col-xs-4 solution_bline text-right">
			<%=image_tag "solution_title_bg_right.png"%>
		</div>
	</div>
	<div class="row solution_engineer  solution_line">
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件概述</strong>
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无线网络优化在实现中它需要多个部门（比如预处理、前测、后台报告分析等等部门）一起协调配合从而才能完成的一项非常复杂的工作 , 可以说这项工作是通信技术知识与水平的综合展现 , 它不仅涉及到了很多的移动通信专业基础知识 , 还需要把这些知识在实践中进行有序的结合从而才能完成移动通信的无线网络优化。
			</p>
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在学校以往的教学里一般只能借助书本上的知识进行基础的学习灌输 , 而针对于无线网络优化这种偏实践操作的课程来说更是远远不够的。 所以我们可以借用现在非常先进的虚拟现实技术来很好地弥补传统教学所带来的缺憾。不仅能够如往常一样学习系统的基础知识之外 , 还可以通过虚拟现实进入一个模拟的现实场景之中体验一把现实中的完整优化过程。
			</p>
			<p class="solution_train"> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在本软件中分别设置了四个角色供学生选择扮演 , 分别对应网络优化中不同优化阶段的工作（前端数据采集、后台分析、优化方案的审核实施下发、执行优化方案）, 由学生选择逐一完成。 可以说在以往学生脑海里可能只有个轮廓的网络优化课程会变得非常的清晰 , 而我们的虚拟现实网络优化软件选择在其中的作用就是为学生们模糊不清的网络优化世界添上了丰富而又生动的一等！
			</p>
		</div>
		<div class="col-xs-12 en_content">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件架构</strong>
			<div class="en_img">
				<%=image_tag "en_top.png", width: "100%"%>
			</div>
		</div>
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件界面</strong>
			<div class="net_img">
				<%=image_tag "net_content.png", width: "100%"%>
			</div>
		</div>
	</div>
</div>