<%=render partial:"solution_bg"%>
<div class="container-fluid darkgray-bg">
	<div class="text-center solution_title">
		<span class="icts_bg ict_bg">
		<%=image_tag "solution_blue.png"%>
		&nbsp;&nbsp;ICT综合产教研究基地&nbsp;&nbsp;
		<%=image_tag "solution_blue.png"%>
		</span>
		<hr class="ict_line">
	</div>
	<div class="container ict_abstract paragraph">
		<p>基地2015年以来取得的<strong>荣誉称号</strong>, 包括国家接工程实践教育中心 , 上海市软件产业高级人才联盟副理事单位 , 物联网工程师认证考点 , 全国三
		网融合移动互联网人才认证培训考证点  , 思科网络技术理事单位。</p>
		<p>引进了大唐大学认证参考专用教材 , 同时整合梳理大唐的内部技术资料 , 案例及项目文档所编写的<strong>通信专业教学专用教材</strong>。 从而形成了专业性强 , 贴近最新使用技术的教材系列。</p>
      	<p>2016年与上海工商职业技术学院合作编写了七套校本教材 , 教材当中大量采用真实企业案例作为教学内容 , 是学生看得懂 , 能实践 , 感兴趣。
      	<strong>无线网络设备维护这门课被评为上海市精品课程</strong>, 使用的就是该套系列教程。</p>
      	<p>
      		依托基地的人才优势 , 与上海工商职业技术学院开发了5套教学软件产品。 其中<strong>移动通信虚拟现实平台</strong>是当前唯一一款可以实现
      		在虚拟现实环境下进行移动通信工程勘察 , 设备安装调测和进行网络优化的教学软件平台。 这5套软件由在职教师提出软件需求和框架并参与具体设计开发测试 , 最终由学校和企业共同申报软件著作权。 同时 , 这六款软件已经被应用到通信专业教学当中。 <strong>物联网虚拟现实平台呗确定为星光杯比赛平台</strong>。
      	</p>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center reseach_content">
		<%=image_tag "reseach_1.png"%>
	</div>	

	<div class="container ict_abstract paragraph reseach_p">
		<p><strong>专利墙展示</strong>大唐电信在移动通信领域的关键专利展示 , 到今年为止大唐电信已成功申请专利2万余项 , 在所有国有企业中名列第二 , 大唐电信科技产业集团是国务院国资委管理的大型高科技中央企业 , 是我国拥有自主知识产权的第三代移动通信国际标准
		TD-SCDMA的提出者、 核心技术的开发者以及产业化的推动者 , 是第四代移动通信TD-LTE国际标准的核心基础专利拥有者 , 并依托3G、4G关键技术和标准化方面的经验积累 , 在5G领域取得丰硕成果。 公司拥有多项核心专利核心技术 , 先后获得国家科学技术进步奖一等奖和二等奖、世界知识产权组织和国家知识产权局颁发的专利金奖等荣誉。</p>
		<p><strong>圆形展台展示</strong></p>的是移动通信的四个阶段 , 也就是所谓的1G、2G、3G、4G。1G采用的模拟信号传输 , 只能支持语音业务。 2G开始采用数字通信技术 , 支持数据和窄带数据传输。3G支持宽带数据传输 , 传输速率可以达到2M以上。 4G采用多种前沿技术 , 采用全IP网络 , 简化了网络架构 , 进一步将峰值速率提高到100M , 而且后续的增强技术还可以继续大幅度的提高空口传输速率。
      	<p><strong>设备展示墙</strong>是用于展示的无线网通信设备 , 代表不同建网环境和阶段的典型设备 , 用于向学生和参观者展示TD网络设备的典型特征和现在移动通信的发展演进。 我们现在看到的分别是3G和4G的射频设备 , 2G、3G、4G的基带设备 , GPS时钟设备和智能天线设备。</p>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center reseach_content">
		<%=image_tag "reseach_2.png"%>
	</div>	

	<div class="container ict_abstract paragraph">
		<p><strong>沙盘</strong>是综合性城市地形沙盘 ,用来为学生展示通信网络的空间分布和实践的网络环境。并且展示移动通信网络与智能小区结合的概念。</p>
		<p><strong>大屏幕</strong>演示虚拟现实软件平台的录屏视频 , 放弃以往教学软件模块化仿真的设计理念 , 采用当前最前沿的虚拟现实技术
		 , 可以更好的再现真实的工作环境 , 岗位职责, 工作规范和流程 , 任务执行的具体环境和其他条件。 以身临其境的工作任务体验代替缺少趣味的课堂讲授 , 使工程类教学摆脱纸上谈兵 , 闭门造车的尴尬局面。服务器上部署虚拟现实软件的部分场景 , 可以带上头盔感受。</p>
      	<p><strong>飞享系统</strong>可以灵活采用无线热点或者4G网络作为传输介质实现跨平台的端对端文件传输。 LINUX系统 , 微软系统 , ANDROID系统 , iOS系统都是可以直接安装使用。 它的最大优势是无需采用服务器即可实现灵活的数据传输。</p>
      	<p><strong>物联网资产管理环境</strong>, 支持防盗告警 ,手持式远距离资产信息采集和固定的资产信息采集。</p>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center reseach_content">
		<%=image_tag "reseach_3.png"%>
	</div>		
</div>