<%=render partial:"solution_bg"%>
<div class="container solution_en_title">
	<div class="row  solution_line">
		<div class="col-xs-4 solution_bline "><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-4 text-center solution_case ">移动通信系统设备<br/>虚拟现实</div>
		<div class="col-xs-4 solution_bline text-right">
			<%=image_tag "solution_title_bg_right.png"%>
		</div>
	</div>
	<div class="row solution_engineer  solution_line">
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件概述</strong>
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;移动通信系统设备虚拟现实平台软件共分为六大功能模块 , 分别为登录控制、基础知识、设备认知、项目实践、知识测试、系统设置。
				其中登录控制和系统设置为系统控制模块 , 基础知识、设备认知、项目实践、知识测试为学习测试模块。使用本软件可以更好的学习通信知识 , 由浅入深 , 建设思路清晰 , 很好的解决了学生现实试验中的诸多实际问题。
			</p>
		</div>
		<div class="col-xs-12 en_content">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件架构</strong>
			<div class="en_img">
				<%=image_tag "en_top.png", width: "100%"%>
			</div>
		</div>
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>软件界面</strong>
			<div class="sys_img">
				<%=image_tag "sys_content.png", width: "100%"%>
			</div>
		</div>
	</div>
</div>