<%=render partial:"solution_bg"%>

<div class="first-bg solution_title">
	<div class="container">
		<div class="row solution_line">
			<div class="col-xs-5 solution_bline">
				<div class="first-bg hidden-left-part"></div>
				<%=image_tag "solution_title_bg_left.png"%>
			</div>
			<div class="col-xs-2 text-center solution_case">大唐邦彦<br/>物联网产品</div>
			<div class="col-xs-5 solution_bline text-right">
				<%=image_tag "solution_title_bg_right.png"%>
				<div class="first-bg hidden-right-part"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4 class="text-primary"><%= image_tag "things-icon.png" %>&nbsp;&nbsp;1. 技术体系</h4>
				<p class="things-p">大唐邦彦的物联网产品全面覆盖了物联网三层体系结构的知识，具有完善的技术体系。<br>传感层：由传感器、控制终端、无线传感器网络（WSN）、射频识别（RFID）设备、微控制器设备等，共同组成前端信息采集节点和控制终端。<br>网络层：由包含ZigBee、WiFi、BlueTooth等短距离通信模块和GPRS/GSM、3G、GPS、IPv6等远距离通信模块的升级版智能网关以及其他网络设备（如路由器、交换机等）共同组成的基于TCP/IP协议的可接入互联网或泛太云服务系统的物联网汇聚平台。<br>应用层：由远程客户端（如电脑、平板电脑、智能手机等）与安装在其中的各种应用程序和后台数据库共同组成，实现对前端采集节点和控制终端的管理。</p>
			</div>
			<div class="col-md-6">
				<br>
				<%= image_tag "solution_things0.png", class: "pull-right" %>
			</div>
		</div>	

		<br><br>

		<div class="row">
			<div class="col-md-12">
				<h4 class="text-primary"><%= image_tag "things-icon.png" %>&nbsp;&nbsp;2.移动互联网、物联网嵌入式教学科研平台</h4>
				<p class="things-p">移动互联网/物联网嵌入式教学科研平台（型号：Ashton-DP02-B，尺寸：50×32×10cm)）是大唐邦彦根据物联网专业建设的需求，设计研发的集成无线传感网、嵌入式网关、移动互联网通信与一体的箱式教学科研平台。平台集成六种以上无线网络传感器，采用ARM公司最新Cortex架构的Cortex-A8处理器和Android移动互联网操作系统，具有3G、WiFi/BlueTooth等多种移动通信技术和ZigBee无线传感网、数据采集与设备控制等物联网技术，是一套完整的融合互联网与物联网的教学与科研平台。同时平台提供了完全开放的源码、详细的实验文档以及方便二次开发的SDK支持包，便于用户进行不同模式的学习、科研。</p>
				<br>
			</div>
			<div class="col-md-6"><%= image_tag "things0.png", width: "100%" %></div>
			<div class="col-md-6"><%= image_tag "things1.png", width: "100%" %></div>
		</div>
	</div>
</div>

<div class="second-bg solution_title">
	<div class="container">
		<div class="row solution_line">
			<div class="col-xs-5 solution_bline">
				<div class="first-bg hidden-left-part"></div>
				<%=image_tag "solution_title_bg_left.png"%>
			</div>
			<div class="col-xs-2 text-center solution_case p-0">物联网行业应用<br/>沙盘系列</div>
			<div class="col-xs-5 solution_bline text-right">
				<%=image_tag "solution_title_bg_right.png"%>
				<div class="first-bg hidden-right-part"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="solution-things-content clearfix">
					<p class="text-center"><button class="btn btn-primary btn-lg things-btn">智能家居实训系统</button></p>
					<div class="row">
						<div class="col-md-12">
							<p class="things-p"> 智能家居沙盘（Ashton -eHome-SP）是针对高等院校物联网实训需求，综合运用传感器采集、设备控制、无线传感器网络、嵌入式系统、网络通信、中间件等物联网技术以及多学科技术的交叉融合，依托部署在网板上的各种传感器节点、控制节点、智能网关、智能终端实现家居生活环境的智能安全监测、智能安防监测、智能报警、智能设备控制、远程视频监控、网络化远程监控等功能，贴近实际智能家居系统，为物联网专业教学提供了一个完备的应用实训系统。</p>
						</div>
						<div class="col-md-6"><%= image_tag "solution_things1.png", width: "100%" %></div>
						<div class="col-md-6"><%= image_tag "solution_things2.png", width: "100%" %></div>
						<div class="col-md-12">
							<br>
							<h4 class="text-primary">&nbsp;&nbsp;<%= image_tag "things-icon.png" %>&nbsp;&nbsp;系统功能</h4>
							<p class="things-p">1.环境自动监测与调节功能&nbsp;&nbsp;&nbsp;&nbsp;2.安全自动监测与报警功能&nbsp;&nbsp;&nbsp;&nbsp;3.安防自动监测与报警功能&nbsp;&nbsp;&nbsp;&nbsp;4.智能家电控制功能</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="solution-things-content clearfix">
					<p class="text-center"><button class="btn btn-primary btn-lg things-btn">食品溯源物联网实训系统</button></p>
					<div class="row">
						<div class="col-md-12">
							<p class="things-p"> 食品溯源物联网实训系统（型号：Ashton-FoodTrace）是针对近年来频发的食品安全危机设计的覆盖食品“产、加、运、储、销”各个环节的追溯系统。它综合运用传感器采集、RFID射频识别、设备控制、无线传感器网络、嵌入式系统、网络通信等物联网技术以及多学科技术的交叉融合，依托部署在溯源沙盘中的各种传感器节点、射频识别装置、控制节点、智能网关、服务器以及客户端等，实现食品生产环节的智能感知与控制，加工环节的标签自动识别读写，运输环节的车辆智能定位与智能冷链感知，仓储环节的货架信息的智能感知，超市销售环节的自助结算和食品溯源查询等功能，为提供安全可靠的食品保驾护航。</p>
						</div>
						<div class="col-md-6"><%= image_tag "solution_things3.png", width: "100%" %></div>
						<div class="col-md-6"><%= image_tag "solution_things4.png", width: "100%" %></div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="solution-things-content clearfix">
					<p class="text-center"><button class="btn btn-primary btn-lg things-btn">港口物流交通实训系统</button></p>
					<div class="row">
						<div class="col-md-12">
							<p class="things-p"> 港口物流交通实训系统（型号：Ashton-PLITS），以港口物流为背景，以货物出入港口的流程为核心，以港口货物的智能化装卸与交通运输为研究内容，构建的一套类似真实的现代化港口物流交通实训系统，主要模拟周转于仓库与港口码头之间的货物装卸、运输、盘点的流程，同时对港口周边环境进行灾害预警。</p>
      				<p class="things-p">港口物流交通实训系统覆盖物联网的传感层、网络链路层、网关、以及应用层。智能网关是整个系统的核心，是连接传感层与应用层的桥梁。系统拓扑如图所示。</p>
						</div>
						<div class="col-md-7"><%= image_tag "solution_things5.png", width: "100%" %></div>
						<div class="col-md-5"><%= image_tag "solution_things6.png", width: "100%" %></div>
						<div class="col-md-12">
							<br>
							<h4 class="text-primary">&nbsp;&nbsp;<%= image_tag "things-icon.png" %>&nbsp;&nbsp;系统功能</h4>
							<p class="things-p">1.智能车辆运输系统&nbsp;&nbsp;&nbsp;&nbsp;2.集装箱桁车装卸货系统&nbsp;&nbsp;&nbsp;&nbsp;3.机器臂装卸货系统&nbsp;&nbsp;&nbsp;&nbsp;4.智能集装箱动态感知显示系统&nbsp;&nbsp;&nbsp;&nbsp;5.港口智能车辆出入ETC收费管理系统&nbsp;&nbsp;&nbsp;&nbsp;6.港口信息智能显示与播报系统&nbsp;&nbsp;&nbsp;&nbsp;7.港口环境灾害预警系统&nbsp;&nbsp;&nbsp;&nbsp;8.智能交通灯与路灯管理&nbsp;&nbsp;&nbsp;&nbsp;9.AGV无人驾驶车辆&nbsp;&nbsp;&nbsp;&nbsp;10.航空物流快运系统&nbsp;&nbsp;&nbsp;&nbsp;11.港口轨道交通系统&nbsp;&nbsp;&nbsp;&nbsp;12.港口货物数据库管理软件&nbsp;&nbsp;&nbsp;&nbsp;13.港口货物出入库管理软件</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="solution-things-content clearfix">
					<p class="text-center"><button class="btn btn-primary btn-lg things-btn">智能交通管理实训系统</button></p>
					<div class="row">
						<div class="col-md-12">
							<p class="things-p">智能交通主题沙盘实训系统（型号：Ashton-ITS）以城市道路交通为原型，综合运用传感器采集、设备控制、无线传感器网络、射频识别、图像识别、嵌入式系统、无线通信等物联网技术以及多学科技术的交叉融合，依托部署在交通沙盘中的智能小车、传感器节点、控制节点、工业摄像机、智能网关、服务器与客户端实现交通灯智能管理、路灯管理、公交优先、超速抓拍、车牌识别、智能停车场、高速ETC、公路灾害智能预警、自动避障、车联网等功能，为解决现代城市交通拥堵、交通事故、违规逃逸、停车难等一系列问题提供了技术路线，也为物联网专业教学提供了一个完备的应用实训系统。</p>
						</div>
						<div class="col-md-12">
							<br>
							<h4 class="text-primary">&nbsp;&nbsp;<%= image_tag "things-icon.png" %>&nbsp;&nbsp;系统构成</h4>
							<p class="things-p"> 系统利用各种传感器测量城市道路中的参数，结合嵌入式数据库存储技术将采样数据统一保存管理；利用ZigBee无线传感器网络统一管理各个节点；利用射频技术实现车辆的自动识别；利用图像识别技术实现车牌识别；利用自动控制理论和反馈控制理论实现智能控制；利用嵌入式Linux系统实现智能网关城市交通管理软件；利用WIFI网络实现网关与服务器之间的通信，激发用户了解物联网技术在城市交通网等现实环境的应用。</p>
						</div>
						<div class="col-md-7"><%= image_tag "solution_things7.png", width: "100%" %></div>
						<div class="col-md-5"><%= image_tag "solution_things8.png", width: "100%" %></div>
						<div class="col-md-12">
							<br>
							<h4 class="text-primary"><%= image_tag "things-icon.png" %>&nbsp;&nbsp;系统功能</h4>
							<p class="things-p">1.多车同时行驶&nbsp;&nbsp;&nbsp;&nbsp;2.公交优先功能&nbsp;&nbsp;&nbsp;&nbsp;3.交通灯管理&nbsp;&nbsp;&nbsp;&nbsp;4.路灯管理&nbsp;&nbsp;&nbsp;&nbsp;5.图像抓拍&nbsp;&nbsp;&nbsp;&nbsp;6.ETC不停车收费系统&nbsp;&nbsp;&nbsp;&nbsp;7.灾害预警系统&nbsp;&nbsp;&nbsp;&nbsp;8.车联网系统</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>