<%=render partial:"solution_bg"%>
<div class="container solution_en_title">
	<div class="row  solution_line">
		<div class="col-xs-4 solution_bline "><%=image_tag "solution_title_bg_left.png"%></div>
		<div class="col-xs-4 text-center solution_case ">移动通信虚拟现实<br/>实训平台</div>
		<div class="col-xs-4 solution_bline text-right">
			<%=image_tag "solution_title_bg_right.png"%>
		</div>
	</div>
	<div class="row solution_engineer  solution_line">
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>产品背景</strong>
			<p class="solution_train">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;移动通信系统虚拟现实平台的认知和操作是通信专业中最为重要的一门课程 , 传统的课程采用书本教学、口头表达的等形式教授学生知识 , 形成单一且不形象。 且移动通信系统产品多样、更新迅速、价格昂贵、学生很难看到设备 , 更难做到亲手操作体验 , 学习的课本知识很难得到消化, 不利于以后的实际工作和应用。
			</p>
			<hr>
		</div>
		<div class="col-xs-12 en_content">
			<div class="col-xs-6">
				<%=image_tag "en_log.png", width: "4%"%>
			    <strong>产品特点</strong>
				<div class="en_img">
					<%=image_tag "tran_p_1.png", width: "100%"%>
				</div>
			</div>
			<div class="col-xs-6">
				<%=image_tag "en_log.png", width: "4%"%>
			    <strong>产品特点</strong>
			    <div class="train_rt">
					<%=image_tag "tran_p_2.png", width: "100%"%>
				</div>
			</div>
			<hr>
		</div>
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>产品优势</strong>

			<div class="solution_train train_cont">
				<%=image_tag "tran_p_log.png", width: "1%"%>
				<strong>内容优势</strong>
				<p class="t_cont">
				&nbsp;&nbsp;&nbsp;&nbsp;
				一流的内容团队 , 拥有多名具备丰富移动通信项目实践经验的双师型研发人员 ,真正理解移动通信内容以及教学需求。
			    </p>

			    <%=image_tag "tran_p_log.png", width: "1%"%>
				<strong>技术优势</strong>
				<p class="t_cont">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				01.首创VR在移动通信领域的应用 <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				02.多名优秀的U3D技术从业人员<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				03.产品包含移动通信所有覆盖场景<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				04.配置参数在虚拟环境中得到真实的反馈
			    </p>
			</div>		
			<hr>
		</div>
		<div class="col-xs-12">
			<%=image_tag "en_log.png", width: "4%"%>
			<strong>产品清单</strong>
			<div class="sys_img">
				<div class="col-xs-12">
					<%=image_tag "tran_p_content.png", width: "100%"%>
				</div>
			</div>
		</div>
	</div>
</div>