<div class="container">
	<%= image_tag "news_banner.png", width:"100%"%>
</div>
<br>
<div class="bgc-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="leftMenu" class="content text-center">
					<div class="left-head">新闻中心</div>
					<div class="left-body">
						<ul class="nav">
							<li role="presentation"><%= link_to "公司新闻", "#"%></li>
							<hr class="divider">
							<li role="presentation" class="active"><%= link_to "行业动态", "#"%></li>
							<hr class="divider">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="content">
					<div class="right-head">
						<ul class="nav nav-pills">
							<li>
								<span><%= image_tag "news_nav_icon.png"%>&nbsp;&nbsp;当前位置:&nbsp;&nbsp;</span>
							</li>
							<li>
								<ol class="breadcrumb">
									<li><%= link_to "首页", home_index_path %></li>
									<li class="active">新闻中心</li>
								</ol>
							</li>
						</ul>					
					</div>
					<div class="right-body">
						<ul class="nav nav-stacked reports-index">    
							<% @reports.each do |report| %>   
								<li role="presentation">
									<%= link_to report_path(report) do %>
										<div class="row reports-index">
											<div class="col-xs-10">
												<span><%= image_tag "news_li_dot.png"%>
												</span>&nbsp;&nbsp;<%= report.title %>
											</div>
											<div class="col-xs-2 text-right">[<%= report.created_at.strftime "%F"%>]</div>
										</div>
									<% end %>
								</li>
							<% end %>
						</ul>
						<br>
						<nav class="text-center">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>