<%= image_tag "news_banner.jpg", width:"100%", class:"banner-margin"%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "left_nav" %>
		</div>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<%= render "right_head_nav" %>				
				</div>
				<div class="right-body">
					<ul class="nav nav-stacked reports-index">    
						<% @reports.each do |report| %>   
							<li role="presentation">
								<%= link_to report_path(report, category: params[:category]) do %>
									<div class="row reports-index">
										<div class="col-xs-10">
											<span><%= image_tag "news_li_dot.png"%>
											</span>&nbsp;&nbsp;<%= report.title %>
										</div>
										<div class="col-xs-2 text-right">[<%= report.created_at.strftime "%F"%>]</div>
									</div>
								<% end %>
							</li>
						<% end %>
					</ul>
					<br>
					<div class="paginate text-center"><%= paginate @reports, category: params[:category] %></div>
				</div>
			</div>
		</div>
	</div>
</div>