<div class="container">
	<%= image_tag "news_banner.png", class:"img-responsive"%>
</div>
<br>
<div class="bgc-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="leftMenu" class="content text-center">
					<div class="left-head">新闻中心</div>
					<div class="left-body">
						<ul class="nav">
							<li role="presentation"><%= link_to "公司新闻", "#"%></li>
							<hr class="divider">
							<li role="presentation" class="active"><%= link_to "行业动态", "#"%></li>
							<hr class="divider">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="content">
					<div class="right-head">
						<ul class="nav nav-pills">
							<li>
								<span><%= image_tag "news_nav_icon.png"%>&nbsp;&nbsp;当前位置:&nbsp;&nbsp;</span>
							</li>
							<li>
								<ol class="breadcrumb">
									<li><%= link_to "首页", home_index_path%></li>
									<li><%= link_to "新闻中心", reports_path%></li>
									<li class="active">正文</li>
								</ol>
							</li>
						</ul>					
					</div>
					<div class="right-body">
						<div class="container-fluid text-center">
							<h2><%= @report.title %></h2>
						</div>
						<hr class="divider">
						<div class="text-justify news-content">
							<ul class="nav-justified">
								<li>发布时间: <%= @report.created_at.strftime "%F"%></li>
								<li>浏览次数: <%= @report.view_count %>次</li>
								<li>来源: <%= @report.source %></li>
								<li>
									<%= render "share/baidu_share" %>
								</li>
							</ul>
							<%= raw @report.content%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
