<div class="container-fluid">
	<%= image_tag "news_banner.jpg", class:"img-responsive"%>
</div>
<br>
<div class="bgc-gray">
	<a name="news"></a>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "left_nav" %>
			</div>
			<div class="col-md-9">
				<div class="content">
					<div class="right-head">
						<%= render "right_head_nav" %>	
					</div>
					<div class="right-body">
						<div class="container-fluid text-center">
							<h2><%= @report.title %></h2>
						</div>
						<hr class="divider">
						<div class="text-justify news-content">
							<ul class="nav-justified">
								<li>发布时间: <%= @report.created_at.strftime "%F"%></li>
								<li>浏览次数: <%= @report.view_count %>次</li>
								<li>来源: <%= @report.source %></li>
								<li>
									<%= render "share/baidu_share" %>
								</li>
							</ul>
							<div class="news-article"><%= raw @report.content%></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
